body{
    background-color: #141922;
    font-family: 'Montserrat', sans-serif;
    font-size: var(--size-principal);
}

/* TOP-CONTENT */
.big{
    height: calc(100vh - 90px);
    max-width: 100%;
}

/* SIDE-BAR */
.sidebar{
    width:250px;
    min-width: 250px;
    background-color: black;
    color:grey;
    display:flex;
    flex-direction: column;
    padding-bottom: 1rem;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
/* SIDEBAR Hide Scrollbar Chrome*/
.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar li{
    padding:0.6rem 1rem;
}
/* LOGO SIDEBAR */
.logo{
    width:180px;
    padding:1rem 0.6rem;
}

.logo-sm{
    width:30px;
    display:none;
    margin:auto;
    padding:0.5rem 0rem;
}

/* SIDEBAR Nav icons */
.icon-nav>li{
    display:flex;
    align-items: center;
    gap:0.5rem;
    padding:0.3rem 1rem;
}
.icon-nav img,
.sidebar-footer img{
    width:30px;
}
/* SIDEBAR playlist */
.playlist h2{
    color:white;
    padding-top:0.8rem;
    padding-bottom: 0rem;
}
.playlist i{
    font-size: 2rem;
    padding-right:0.5rem;
}
.playlist .flex-container{
    align-items: center;
}
/* SIDEBAR footer */
.sidebar-footer{
    margin-top:auto;
    width:90%;
    justify-content: center;
    align-items: center;
}
.sidebar-footer img{
    padding: 0.3rem 0rem;
    width:20px;
}
.sidebar-footer .flex-container{
    align-items: center;
    gap:0.5rem;
    padding-top:1rem;
}
#id{
    width:30px;
    height:30px;
    background-color: grey;
    border-radius: 50%;
}
.sidebar-footer hr{
    display: block;
    font-size: 0.5rem;
    border:0.3px solid grey;
}

#home, #name{
    color:white;
    font-weight: bolder;
}
/* ALL-CONTENT */

/* HEADER */
header{
    min-height:4rem;
    background-color: rgba(0, 0, 0, 0.5);
    position:fixed;
    width:calc(100% - 250px);
    align-items: center;
}
.label{
    padding: 0.5rem 2rem;
    justify-content: flex-end;
}

header a {
    color: white;
    border: 1px solid white;
    border-radius: 2rem;
    padding: 0.5rem 2rem;
    font-size: 0.9rem;
}

/* MAIN */
main{
    padding-top:5rem;
    padding-left:1rem;
    text-align: center;
    color:grey;
    font-size: 0.9rem;
    overflow: auto;
    height:100%;
    padding-bottom: 1rem;
}
    /* Main nav bar  */
.main-nav-bar{
    width:100%;
    text-align: center;
    padding-top:1rem;
    font-size: 0.7rem;
    line-height: 1.8rem;
}
.main-nav-bar li{
    display:inline;
    padding:0.6rem;
}

    /* RECENT */
.row img{
    padding-right: 1rem;
}
.recent>h2{
    padding-bottom:2rem;
}

    /* CREATED */
section .info{
    text-align: left;
    padding-bottom:0.9rem;
}
section h2{
    padding-bottom:0.8rem;
}
    /* POPULAR */
.dot>img{
    border-radius:50%;
}

/* FOOTER */
footer{
    background-color: #282828;
    color:grey;
    font-size: 0.8rem;
    height: 90px;
}

footer .flex-container{
    align-items: center;
    justify-content: space-between;
    gap:0.5rem;
}

footer img{
    width:60px;
    padding-left:0.5rem;
}
/* footer LEFT SIDE */
.footer-leftside{
    gap:0.5rem;
    width:250px;
}
.listening{
    gap:1rem;
}
footer i{
    padding:0.5rem;
}
/* footer CENTER */
.footer-center i{
    font-size: 1.5rem;
    color:white;
}
.footer-center.flex-container{
    justify-content: center;
    gap:0.5rem;
}

.footer-center{
    flex-direction: column;
    flex-grow: 1;
}
.center{
    width:70%;
}
.bar{
    width:130px;
    background-color: rgb(95, 95, 95);
    height:3px;
    display:inline-block;
    border-radius: 3rem;
}

.percentage{
    width:20%;
    background-color: white;
    height:100%;
    border-radius: 3rem;
}
.block{
    min-width:100%;
    position:relative;
}
.bar{
    position:relative;
}
.small-dot{
    width:15px;
    height:15px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top:-7px;
    left:19%;
    display:none;
}

/* footer RIGHT*/
.footer-right {
    font-size: 0.7rem;
    color: white;
    margin-right:16px;
}
.footer-right>.flex-container{
    gap:0rem;
}
.mini{
    width:13px;
    height:13px;
    top:-5px;
}
/* Spacing cards */
.row>*{
    padding-bottom:0.5rem;
}
/**************
 MEDIA QUERIES 
 **************/
@media screen and (max-width: 600px) {

    .sidebar span, 
    .sidebar .logo,
    .playlist,
    .sidebar-footer span{
        display:none;
    }

    .logo-sm{
        display:block;
    }

    .sidebar{
        width:20px;
        min-width:60px;
    }
    header{
        width: calc(100% - 60px);
    }

}

/*************
 EFFECTS 
 *************/
/* PLAY cards effect */
.img{
    position:relative;
    display: flex;
    justify-content: center;
}
.play{
    display: none;
    position:absolute;
    font-size: 4rem;
    text-align: center;
    color: rgb(218, 218, 218);
    align-self:center;
}
.col-2:hover img{
    filter: brightness(50%);
}
.col-2:hover .play {
    display:block;
}
/* TEXT EFFECTS */
li:hover,
span:hover{
    color:white;
}
/* BUTTON EFFECT */
.label:hover a{
    transform: scale(110%);
}

/* PLAYBAR  */
.listening:hover .song{
    text-decoration: underline;
}

.center:hover .small-dot,
.footer-right:hover .small-dot{
    display:block;
}
.center:hover .percentage,
.footer-right:hover .percentage{
    background-color:rgb(19, 196, 19);
}

i:hover {
    color:white;
}


/* .main-nav-bar li:first-child:after{
    content:'__';
    border-bottom:1px solid green;
    border-width: 2px;
} */