/* Utils */
body{
	font-family: sans-serif;
}
.container {
	/* max-width: 1200px; */
	margin: 0 auto;
}

.flex-container {
	display: flex;
}


/* links */
a{
	color:white;
	text-decoration: none;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}